[tpl.header;strconv=no]
[tpl.menu;strconv=no]

<script type="text/javascript">

	function loadLines(url) {
		
				$('div.content div#lines-contener').load(url+' div#lines-contener table#lines', function( response, status, xhr ) {
					 setBillLineSortable();
				});

	}
	function deleteLine(url) {
		
		if(window.confirm("__tr(Are you sure ?)__")) {
			loadLines(url);
		}
		
	}
	function addLine() {
		
		$.post("[tpl.self]", $('#formTLines').serialize(), function() {
			loadLines("[tpl.self]?action=view&id_bill=[bill.id]");
		});
				
	}
	function saveLine(id_line) {
		$('#formTLines input[name=action]').val('save-line');
		$('#formTLines input[name=id_line]').val(id_line);
		
		$.post("[tpl.self]", $('#formTLines').serialize(), function() {
			loadLines("[tpl.self]?action=view&id_bill=[bill.id]");
		});
		
		
	}
	
	function setBillLineSortable() {
		
		$('div#lines-contener table#lines tbody').sortable({ 
			axis: "y" 
			, items: "tr:not(.unsortable)"
			,update: function( event, ui ) {
				
				
				$.post("[tpl.self]", {
					action:'set-lines-order'
					,id_bill:[bill.id]
					,listOfId : $('div#lines-contener table#lines tbody').sortable( "toArray", {attribute : 'id-line'})
				});
				
			}
		});
		
	}
	
	$(document).ready(function() {
		setBillLineSortable();
	});
	
</script>

<div class="content">
	
	[tpl.tabs;strconv=no]

	<table class="grille" id="bill">
		<tr>
			<td>__tr(Ref)__</td><td>[bill.ref;strconv=no]</td>
		</tr>
		<tr>
			<td>__tr(Company)__</td><td>[bill.id_company;strconv=no]</td>
		</tr>
		<tr>
			<td>__tr(DateBill)__</td><td>[bill.dt_bill;strconv=no]</td>
		</tr>
		<tr>
			<td>__tr(Status)__</td><td>[bill.status;strconv=no]</td>
		</tr>
	</table>



	<form name="formTLines" id="formTLines" action="[tpl.self]" method="post">
		<input type="hidden" name="action" value="add-line" />
		<input type="hidden" name="id_bill" value="[bill.id]" />
		<input type="hidden" name="id_line" value="-1" />
		
		<div id="lines-contener">
		
		<table class="grille" id="lines">
			<thead>
				<tr>
					<th>__tr(Label)__</th><th>__tr(quantity)__</th><th></th>
				</tr>
			</thead>
			<tbody>
				<tr class="[line.viewMode]" id="line-[line.id]" id-line="[line.id]">
					<td>[line.id_product;strconv=no;block=tr][line.title;strconv=no]</td>
					<td>[line.quantity;strconv=no]</td>
					<td>
						[onshow; block=begin; when "[line.viewMode]"=="view"]
						<a href="javascript:loadLines('[tpl.self]?action=edit-line&id_line=[line.id]&id_bill=[bill.id]')">Modify</a> 
						<a href="javascript:deleteLine('[tpl.self]?action=delete-line&id_line=[line.id]&id_bill=[bill.id]')">Delete</a> 
						[onshow;block=end]
						[onshow; block=begin; when "[line.viewMode]"=="edit"]
						<a href="javascript:saveLine('[tpl.self]?action=save-line&id_line=[line.id]&id_bill=[bill.id]')">Save</a> 
						<a href="javascript:loadLines('[tpl.self]?action=view&id_bill=[bill.id]')">Cancel</a> 
						[onshow;block=end]
							
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr class="edit">
					<td>[line_add.id_product;strconv=no;magnet=tfoot][line_add.title;strconv=no]</td>
					<td>[line_add.quantity;strconv=no]</td>
					<td><a href="javascript:addLine()">Add</a></td>
				</tr>
			</tfoot>
		</table>
		
		</div>

		<div class="buttons">	
		<a href="[button.href;block=a]" class="[button.class]">[button.label]</a>
		</div>
	</form>

</div>

[tpl.footer;strconv=no]