[tpl.header;strconv=no]
[tpl.menu;strconv=no]
	<form name="formTProject" action="[tpl.self]" method="post">
		<input type="hidden" name="action" value="save" />
		<input type="hidden" name="id" value="[project.id]" />
		<div class="content">
			
		[tpl.tabs;strconv=no]
			<table class="grille">
				<tr>
					<td>__tr(Name)__</td><td>[project.name;strconv=no]</td>
				</tr>
				<tr>
					<td>__tr(Status)__</td><td>[project.status;strconv=no]</td>
				</tr>
				
			</table>
		
			<a href="[button.href;block=a]" class="[button.class]">[button.label]</a> 
		
		</div>
		
		
	</form>

[tpl.footer;strconv=no]