[tpl.header;strconv=no]
[tpl.menu;strconv=no]
		<div class="content">
		[tpl.tabs;strconv=no]
			<table id="scrum">
				<tr>
					<td>__tr(Ideas)__ <a href="javascript:addTask()">__tr(Add task)__</a></td></td>
					<td>__tr(toDo)__</td></td>
					<td>__tr(inProgress)__</td></td>
					<td>__tr(finish)__</td></td>
				</tr>
				<tr>
					<td class="projectDrag droppable" id="task-idea">
						<ul id="list-task-idea" class="task-list">
						
						</ul>
					</td>
					<td class="projectDrag droppable" id="task-todo">
						<ul id="list-task-todo" class="task-list">
						
						</ul>
					</td>
					<td class="projectDrag droppable" id="task-inprogress">
						<ul id="list-task-inprogress" class="task-list">
						
						</ul>
					</td>
					<td class="projectDrag droppable" id="task-finish">
						<ul id="list-task-finish" class="task-list">
						
						</ul>
					</td>
				</tr>
			</table>
		
			<a href="[button.href;block=a]" class="[button.class]">[button.label]</a> 
		
		</div>
		<script type="text/javascript">
			$(document).ready(function() {
				
				project_get_task($([project.id], '#task-todo'), 'todo');
				project_get_task($([project.id], '#task-inprogress'), 'inProgress');
				project_get_task($([project.id], '#task-finish'), 'finish');
				
			});
		</script>
		
[tpl.footer;strconv=no]