[tpl.header;strconv=no]
[tpl.menu;strconv=no]
		<div class="content">
		[tpl.tabs;strconv=no]
			<table id="scrum">
				<tr>
					<td>__tr(Ideas)__ <a href="javascript:project_create_task([project.id])">__tr(Add task)__</a></td></td>
					<td>__tr(toDo)__</td></td>
					<td>__tr(inProgress)__</td></td>
					<td>__tr(finish)__</td></td>
				</tr>
				<tr>
					<td class="projectDrag droppable" id="task-idea" rel="idea">
						<ul id="list-task-idea" class="task-list" rel="idea">
						
						</ul>
					</td>
					<td class="projectDrag droppable" id="task-todo" rel="todo">
						<ul id="list-task-todo" class="task-list" rel="todo">
						
						</ul>
					</td>
					<td class="projectDrag droppable" id="task-inprogress" rel="inprogress">
						<ul id="list-task-inprogress" class="task-list" rel="inprogress">
						
						</ul>
					</td>
					<td class="projectDrag droppable" id="task-finish" rel="finish">
						<ul id="list-task-finish" class="task-list" rel="finish">
						
						</ul>
					</td>
				</tr>
			</table>
		
			<a href="[button.href;block=a]" class="[button.class]">[button.label]</a> 
		
		</div>
		
		<div style="display:none">
			
			<ul><li id="task-blank">
				<div class="min-view">
				<a class="title">title</a> 
				</div>
				<div class="view">
					[form.title;strconv=no]
					[form.status;strconv=no]
					[form.type;strconv=no]
					[form.point;strconv=no]
					[form.description;strconv=no]
				</div>
				</li>
			</ul>
			
		</div>
		
		<script type="text/javascript">
			$(document).ready(function() {
				
				project_get_tasks([project.id], 'list-task-idea', 'idea');
				project_get_tasks([project.id], 'list-task-todo', 'todo');
				project_get_tasks([project.id], 'list-task-inprogress', 'inprogress');
				project_get_tasks([project.id], 'list-task-finish', 'finish');
				
				project_init_change_type([project.id]);
			});
		</script>
		
[tpl.footer;strconv=no]