<table id="[tpl.listName]" width="100%">
	<thead>
		<tr>
			<th>[columns.title;block=th]</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td colspan="[tpl.column_count]" class="dataTables_empty">Loading data from server</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<th>[columns.title;block=th]</th>
		</tr>
	</tfoot>
</table>
<script>
	$(document).ready(function() {
		$('#[tpl.listName]').dataTable( {
			"bProcessing": true
			,"bServerSide": true
			,"sAjaxSource": "[tpl.url_ajax_data_table;strconv=no]"
			,"fnServerData": function ( sSource, aoData, fnCallback ) {
				aoData.push( { "name": "id_entity", "value": "[tpl.id_entity]" } );
				$.getJSON( sSource, aoData, function (json) {
					fnCallback(json)
				} );
			}
			,"bJQueryUI": true
			,"sPaginationType": "full_numbers"
			,"oLanguage": {
				"sUrl": "[tpl.url_lang_data_table;strconv=no]"
			}
		} );
	} );
</script>