<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<title>[tpl.title]</title>
		<meta http-equiv="Content-type" content="text/html;charset=utf-8" />

		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<link rel="stylesheet" href="[css.val;block=link]" />
		<script type="text/javascript" src="[js.val;block=script]"></script>
		[tpl.error;strconv=no][tpl.success;strconv=no]
	</head>

	<body>

		<!-- front start -->
		<div data-role="page" id="[tpl.id]" data-title="[tpl.title]" class="page">