[tpl.header;strconv=no]

<div class="header" data-role="header">
	
	<h1 style="text-align: center;">
		<a href="[tpl.http]" class="logo">[tpl.logo;strconv=no;]</a>
	</h1>
	
</div>

<div data-role="page" style="clear: both; margin-top:50;">
<form action="home.php" name="formLogin" id="formLogin" method="post">
	<input type="hidden" name="action" value="login" />
	<input type="hidden" name="back" value="[form.back; strconv=no]" />
	<div id="page-login" class="content">
		<div>
			[form.login; strconv=no]
		</div>
		<div>
			[form.password; strconv=no]
		</div>
		<div id="select_entity">
			[form.id_entity; strconv=no]
		</div>
		<div>
			[form.btsubmit; strconv=no]
		</div>
	</div>
</form>

</div>

<script type="text/javascript">
	/*function checkLogin() {
		
		if($('#login').val()!='' && $('#password').val()!='' && $('#id_entity').selectedIndex>-1) {
			return true;
		}
		
		return false;
				
	}*/
	function show_entity() {
		if($('#login').val()!='') $('#select_etity').show();
	}
	
	$(document).ready(function() {
		
		show_entity();
		
		$('#login').change(function() {
			show_entity();
		});

		$("#formLogin").validate({
			rules: {
			// simple rule, converted to {required:true}
				name: "required"
				// compound rule
				,login: {
					required: true
				}
			}
		});

		
	});
	
</script>
[tpl.footer;strconv=no]