[tpl.header;strconv=no]
<form action="home.php" name="formLogin" method="POST" onsubmit="return checkLogin();">
	<input type="hidden" name="action" value="login" />
	<input type="hidden" name="back" value="[form.back; strconv=no]" />
	<div id="page-login" class="content">
		<div>
			[form.login; strconv=no]
		</div>
		<div>
			[form.password; strconv=no]
		</div>
		<div>
			[form.btsubmit; strconv=no]
		</div>
	</div>
</form>
<script type="text/javascript">
	function checkLogin() {
		
		if($('#login').val()!='' && $('#password').val()!='') {
			return true;
		}
		
		return false;
				
	}
</script>
[tpl.footer;strconv=no]