<div class="header" data-role="header">
	<div class="menu-left">
	<h1>
		<a href="[tpl.http]" class="logo">[tpl.logo;strconv=no;]</a>
	</h1>
	<ul>
		<li id="menu-left-home">
			<a href="[tpl.http]" leftMenuModule="home">__tr(Home)__</a>
		</li>	
	
	
		<li id="menu-left-[menuLeft.id]">
			<a href="[menuLeft.url; block=li]" leftMenuModule="[menuLeft.module]">[menuLeft.name]</a>
		</li>	
	</ul>
	
	</div>
	<div class="menu">
		<ul>
			<li>
				<a href="[menuTop.url;block=li]"><img src="[menuTop.icon]">__tr([menuTop.name])__</a>
			</li>
		</ul>
	</div>
	<div class="profile">
		[user.gravatar; strconv=no] [user.firstname] [user.lastname]
		<ul>
			<li id="menu-admin-[menuAdmin.id]">
				<a href="[menuAdmin.url; block=li]">[menuAdmin.name]</a>
			</li>	
			<li>
				<a href="[tpl.logout_url]">__tr(Logout)__</a>
			</li>	
		</ul>
	</div>
	<div style="clear: both"></div>
</div>
<script type="text/javascript">
	$(document).ready(function() {
		var h=$(window).height();
		$('div.profile ul').css('height', h); 
		$('div.menu-left ul').css('height', h); 
		
		
		
	})
</script>