[tpl.header;htmlconv=no]

	<form name="formCompany" action="[tpl.self]" method="post">
		
		
		
			<div class="ui-grid-a">
				<div class="ui-block-a"><strong>Nom</strong></div>
				<div class="ui-block-b">[company.name;htmlconv=no]</div>

				<div class="ui-block-a"><strong>Adresse</strong></div>
				<div class="ui-block-b">[company.address;htmlconv=no]</div>

				<div class="ui-block-a"><strong>Code poste</strong></div>
				<div class="ui-block-b">[company.cp;htmlconv=no]</div>

				<div class="ui-block-a"><strong>Ville</strong></div>
				<div class="ui-block-b">[company.city;htmlconv=no]</div>

				<div class="ui-block-a">Date de création</div>
				<div class="ui-block-b">[company.dt_cre;htmlconv=no]</div>

			</div>
		
	[tpl.buttons;htmlconv=no]
	</form>

[tpl.footer;htmlconv=no]