[tpl.header;htmlconv=no]
[tpl.menu;strconv=no]

<div class="content">
	
	[tpl.tabs;strconv=no]

	<form name="formTCompany" action="[tpl.self]" method="post">
		<input type="hidden" name="action" value="save" />
		<input type="hidden" name="success" value="__tr(The company has been saved)__" />
		<input type="hidden" name="id" value="[company.id]" />
		
		<table class="grille">
			<tr>
				<td>__tr(Name)__</td><td>[company.name;htmlconv=no]</td>
			</tr>
			<tr>
				<td>__tr(Phone)__</td><td>[company.phone;htmlconv=no]</td>
			</tr>
			<tr>
				<td>__tr(Email)__</td><td>[company.email;htmlconv=no]</td>
			</tr>
			<tr>
				<td>__tr(Web)__</td><td>[company.web;htmlconv=no]</td>
			</tr>
			<tr>
				<td>__tr(CustomerRef)__</td><td>[company.customerRef;htmlconv=no]</td>
			</tr>
			<tr>
				<td>__tr(SupplierRef)__</td><td>[company.supplierRef;htmlconv=no]</td>
			</tr>
			<tr>
				<td>__tr(IsCustomer)__</td><td>[company.isCustomer;htmlconv=no]</td>
			</tr>
			<tr>
				<td>__tr(IsSupplier)__</td><td>[company.isSupplier;htmlconv=no]</td>
			</tr>
		</table>
				
		<a href="[button.href;block=a]" class="[button.class]">[button.label]</a>
		<div style="clear: both"><hr></div>
	</form>
	
	[onshow; block=begin; when [tpl.mode]=='view']
	<h1>__tr(ContactList)__</h1>
	[company.contactList;strconv=no]
	[onshow; block=end]
</div>

[tpl.footer;htmlconv=no]