[tpl.header;strconv=no]
[tpl.menu;strconv=no]

<div class="content">
	
	[tpl.tabs;strconv=no]
	[tpl.parentShort;strconv=no]

	<form name="formTCategory" action="[tpl.self]" method="post">
		<input type="hidden" name="action" value="addCategory" />
		<input type="hidden" name="success" value="__tr(The category has been linked)__" />
		<input type="hidden" name="id" value="[category.id_object]" />
		<input type="hidden" name="object" value="[category.className]" />
		
		<table class="grille">
			<tr>
				<td>[TCategoryLink.label;strconv=no;block=tr]</td>
				<td><a href="#">Delete</a></td>
			</tr>
		</table>
		
	</form>

</div>

[tpl.footer;strconv=no]