<div class="header" data-role="header">
	<h1><a href="[atomicerp.url]" class="logo">[atomicerp.logo]</a></h1>
	<div class="menu">
		<ul>
			<li>
				<a href="[menuTop.url;block=li]">[menuTop.name]</a>
			</li>
		</ul>
	</div>
	<div class="profile">
		<a href="[profile.user_url]">[profile.user_name]</a>
		<ul>
			<li>
				<a href="[menuAdmin.url; block=li]">[menuAdmin.name]</a>
			</li>	
			<li>
				<a href="[profile.logout_url]">__tr(logout)__</a>
			</li>	
		</ul>
	</div>
	<div style="clear: both"></div>
</div>