[tpl.header;htmlconv=no]
[tpl.menu;strconv=no]

<div class="content">
	
	[tpl.tabs;strconv=no]
	
	<script src="js/script_admin.js" type="text/javascript"></script>
	<table>
		<tr>
			<td>__tr(select Calendar)__ </td><td>[planning.select_calendar;htmlconv=no;]</td>
		</tr>
	</table>
	<input type="hidden" id="id_planning" name="id_planning" value="[planning.id;strconv=no]" />
	
	<table>
		<tr>
			<td style="color: rgb(42, 168, 185); font-weight: bold;">__tr(Administrateurs)__ :</td>
		</tr>
		<tr>
			<td>
				<ul id="admintags">
				</ul>
			</td>
		</tr>
		<tr>
			<td style="color: rgb(42, 168, 185); font-weight: bold;">__tr(Modifieurs)__ :</td>
		</tr>
		<tr>
			<td>
				<ul id="modtags">
				</ul>
			</td>
		</tr>
		<tr>
			<td style="color: rgb(42, 168, 185); font-weight: bold;">__tr(Lecteurs)__ :</td>
		</tr>
		<tr>
			<td>
				<ul id="lectags">
				</ul>
			</td>
		</tr>
	</table>
</div>

[tpl.footer;htmlconv=no]