[tpl.header;htmlconv=no]
[tpl.menu;strconv=no]

<div class="content">

	<div id="toolbar" class="ui-widget-header ui-corner-all" style="padding:3px; vertical-align: middle; white-space:nowrap; overflow: hidden;">
		<button id="BtnPreviousMonth">__tr(PrevMonth)__</button>
		<button id="BtnNextMonth">__tr(NextMonth)__</button>
		&nbsp;&nbsp;&nbsp;
		Date: <input type="text" id="dateSelect" size="20"/>
	</div>

	<br>
	
	<div id="mycal"> </div>

	</div>

	<!-- debugging-->
	<div id="calDebug"> </div>

	<!-- Add event modal form -->
	<style type="text/css">
		label, input.text, select { display:block; }
		fieldset { padding:0; border:0; margin-top:25px; }
		.ui-dialog .ui-state-error { padding: .3em; }
		.validateTips { border: 1px solid transparent; padding: 0.3em; }
	</style>
	<div id="add-event-form" title="Add New Event">
		<p class="validateTips">__tr(AllFields)__</p>
		<form>
		<fieldset>
			<label for="name">__tr(What)__</label>
			<input type="text" name="what" id="what" class="text ui-widget-content ui-corner-all" style="margin-bottom:12px; width:95%; padding: .4em;"/>
			<label for="name">__tr(Note)__</label>
			<textarea name="note" id="note" class="text ui-widget-content ui-corner-all" style="margin-bottom:12px; width:95%; padding: .4em;"> </textarea>
			<label for="name">__tr(Status)__</label>
			<select name="status" id="status">
				<option>à faire</option>
				<option>fait</option>
				<option>abandonné</option>
			</select>
			<table style="width:100%; padding:5px;">
				<tr>
					<td>
						<label>__tr(DateStart)__</label>
						<input type="text" name="startDate" id="startDate" value="" class="text ui-widget-content ui-corner-all" style="margin-bottom:12px; width:95%; padding: .4em;"/>				
					</td>
					<td>&nbsp;</td>
					<td>
						<label>__tr(Hour)__</label>
						<select id="startHour" class="text ui-widget-content ui-corner-all" style="margin-bottom:12px; width:95%; padding: .4em;">
							<option value="12" selected="selected">12</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
							<option value="11">11</option>
						</select>				
					<td>
					<td>
						<label>__tr(Min)__</label>
						<select id="startMin" class="text ui-widget-content ui-corner-all" style="margin-bottom:12px; width:95%; padding: .4em;">
							<option value="00" selected="selected">00</option>
							<option value="10">10</option>
							<option value="20">20</option>
							<option value="30">30</option>
							<option value="40">40</option>
							<option value="50">50</option>
						</select>				
					<td>
					<td>
						<label>AM/PM</label>
						<select id="startMeridiem" class="text ui-widget-content ui-corner-all" style="margin-bottom:12px; width:95%; padding: .4em;">
							<option value="AM" selected="selected">AM</option>
							<option value="PM">PM</option>
						</select>				
					</td>
				</tr>
				<tr>
					<td>
						<label>__tr(DateEnd)__</label>
						<input type="text" name="endDate" id="endDate" value="" class="text ui-widget-content ui-corner-all" style="margin-bottom:12px; width:95%; padding: .4em;"/>				
					</td>
					<td>&nbsp;</td>
					<td>
						<label>__tr(Hour)__</label>
						<select id="endHour" class="text ui-widget-content ui-corner-all" style="margin-bottom:12px; width:95%; padding: .4em;">
							<option value="12" selected="selected">12</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
							<option value="11">11</option>
						</select>				
					<td>
					<td>
						<label>__tr(Min)__</label>
						<select id="endMin" class="text ui-widget-content ui-corner-all" style="margin-bottom:12px; width:95%; padding: .4em;">
							<option value="00" selected="selected">00</option>
							<option value="10">10</option>
							<option value="20">20</option>
							<option value="30">30</option>
							<option value="40">40</option>
							<option value="50">50</option>
						</select>				
					<td>
					<td>
						<label>AM/PM</label>
						<select id="endMeridiem" class="text ui-widget-content ui-corner-all" style="margin-bottom:12px; width:95%; padding: .4em;">
							<option value="AM" selected="selected">AM</option>
							<option value="PM">PM</option>
						</select>				
					</td>				
				</tr>			
			</table>
			<table>
				<tr>
					<td>
						<label>__tr(BgColor)__</label>
					</td>
					<td>
						<div id="colorSelectorBackground"><div style="background-color: #333333; width:30px; height:30px; border: 2px solid #000000;"> </div></div>
						<input type="hidden" id="colorBackground" value="#333333">
					</td>
					<td>&nbsp;&nbsp;&nbsp;</td>
					<td>
						<label>__tr(TextColor)__</label>
					</td>
					<td>
						<div id="colorSelectorForeground"><div style="background-color: #ffffff; width:30px; height:30px; border: 2px solid #000000;"> </div></div>
						<input type="hidden" id="colorForeground" value="#ffffff">
					</td>						
				</tr>				
			</table>
		</fieldset>
		</form>
	</div>
	
	<div id="display-event-form" title="View Agenda Item">
		
	</div>
	
	<div id="update-event-form" title="Update Agenda Item">
		
	</div>		

	<p>&nbsp;</p>

</div>

[tpl.footer;htmlconv=no]