[tpl.header;strconv=no]
[tpl.menu;strconv=no]
	<form name="formTGroup" action="[tpl.self]" method="post">
		<input type="hidden" name="action" value="save" />
		<input type="hidden" name="id" value="[group.id]" />
		<div class="content">
			
		[tpl.tabs;strconv=no]
			<table class="grille">
				<tr>
					<td>__tr(groupName)__</td><td>[group.name;strconv=no]</td>
				</tr>
				<tr>
					<td>__tr(Entities)__</td><td>
						<ul id="group_entities">
							<li>[entity.val;block=li;strconv=no]</li>
						</ul>
						
						<input type="hidden" id="group_entities_input" name="group_entities_input" value="" />
					</td>
				</tr>
				<tr>
					<td>__tr(Description)__</td><td>[group.description;strconv=no]</td>
				</tr>
				
			</table>
		
			<a href="[button.href;block=a]" class="[button.class]">[button.label]</a> 
		
		</div>
		
		
	</form>

<script type="text/javascript">
$(document).ready(function() {
 	$("#group_entities").tagit();
	
})	;
	
</script>
[tpl.footer;strconv=no]