[tpl.header;strconv=no]
[tpl.menu;strconv=no]
	<form name="formTGroup" action="[tpl.self]" method="post">
		<input type="hidden" name="action" value="save" />
		<input type="hidden" name="id" value="[group.id]" />
		<div class="content">
			
		[tpl.tabs;strconv=no]
			<table class="grille">
				<tr>
					<td>__tr(groupName)__</td><td>[group.name;strconv=no]</td>
				</tr>
				<tr>
					<td>__tr(Entities)__</td><td>
						<ul id="group_entities">
							<li>[entity.val;block=li;strconv=no]</li>
						</ul>
						
						<input type="text" id="group_entities_input" name="group_entities_input" value="" />
					</td>
				</tr>
				<tr>
					<td>__tr(Description)__</td><td>[group.description;strconv=no]</td>
				</tr>
				
			</table>
		
			<a href="[button.href;block=a]" class="[button.class]">[button.label]</a> 
		
		</div>
		
		
	</form>

<script type="text/javascript">
$(document).ready(function() {
	
	$.ajax({
		url:'./script/interface.php'
		,data: {
			get:'entities'
			,id_user:[user.id]
			,json:1
		}
		,dataType:'json'
	}).done(function(data){
		listEntityAvailable=[];
		$.each(data, function(i,value) {
			listEntityAvailable.push(value);
		});
		
		
	 	$("#group_entities").tagit({
	 		allowSpaces:true
	 		,availableTags: data
	 		,placeholderText:"__tr(Enter entity name to link it)__"
	 		,showAutocompleteOnFocus:true
	 		,beforeTagRemoved:function(event, ui) {
	 			
	 			if($("#group_entities").tagit("assignedTags").length<=1) {
	 				alert("__tr(The group have to be to at least one entity)__");
	 				return false;
	 			}
	 			
	 			return true;
	 			
	 		}
	 		,beforeTagAdded: function(event, ui) {
	 			
	 			
		        /*if(listEntityAvailable.indexOf(ui.tag) == -1 ) {
		        	alert("__tr(You have no rights to add this entity)__");
		        	return false;
		        }
		        return true;*/
		    }
	 	});
		
	});
	
	
})	;
	
</script>
[tpl.footer;strconv=no]