[tpl.header;strconv=no]
[tpl.menu;strconv=no]
		<div class="content">
			
		[tpl.tabs;strconv=no]
			<table id="userGroupDrag">
				<tr>
					<td colspan="2">[group.name]</td>
				</tr>
				<tr>
					<td class="userDrag droppable" id="userInBoxe"><h2>__tr(userIn)__</h2>
						<ul>
							<li id="[userIn.id]" class="draggable">[userIn.gravatar;strconv=no][userIn.name; block=li]</li>
						</ul>
					</td>
					
					
					<td class="userDrag userDragOut droppable" id="userOutBoxe"><h2>__tr(userOut)__</h2>
						<ul>
							<li id="[userOut.id]" class="userDragOut draggable">[userOut.gravatar;strconv=no][userOut.name; block=li]</li>
						</ul>
					</td>
				</tr>
				
			</table>
		</div>
	<script type="text/javascript">
		$(document).ready(function() {
			 $( ".draggable" ).draggable();
			 
			 $( ".droppable" ).droppable({
		      drop: function( event, ui ) {
		        
		        idUser = ui.draggable.attr('id');
		        
		        if($(this).attr('id')=='userInBoxe') {
		        	$('#'+idUser).removeClass('userDragOut');
		        	
		        	$.ajax({
		        		url: "[tpl.http]modules/user/script/interface.php"
		        		,data : {
		        			put:'addGroup'
		        			,id_group: [group.id]
		        			,id_user:idUser
		        		}
		        	});
		        	
		        	$('#'+idUser).appendTo('#userInBoxe ul');
		        }
		        else {
		        	$('#'+idUser).addClass('userDragOut');	
		        	
		        	$.ajax({
		        		url: "[tpl.http]modules/user/script/interface.php"
		        		,data : {
		        			put:'removeGroup'
		        			,id_group: [group.id]
		        			,id_user:idUser
		        		}
		        	});
		        	
		        	$('#'+idUser).appendTo('#userOutBoxe ul');
		        }

	        	$('#'+idUser).css('top','');
	        	$('#'+idUser).css('left','');

		        
		      }
		    });
		});
		
	
	</script>	
	
[tpl.footer;strconv=no]