[tpl.header;htmlconv=no]
[tpl.menu;strconv=no]

<div class="content">
	
	[tpl.tabs;strconv=no]
		
	[tpl.parentShort;strconv=no]
	
	
		[tpl.list;strconv=no]
		<a href="[button.href;block=a]" class="[button.class]">[button.label]</a> 
	
</div>

<div id="dialog-form" title="__tr(Link Contact To Company)__">
	<form id="form-link-contact" name="form-link-contact" action="[tpl.self]">
		<input type="hidden" name="action" value="addlink" />
		<input type="hidden" name="id_contact" value="0" />
		<input type="hidden" name="success" value="__tr(The contact has been added)__" />
		<input type="hidden" name="[id_parent_name]" value="[parent.id]" />
			
		<label for="name">__tr(ContactName)__</label>
		<input type="text" name="contactname" id="contactname" />
	
	</form>
</div>
<script type="text/javascript">
	function linkToExistantContact(id_company) {
		
		$('#contactname').autocomplete({
			source:"./script/interface.php?get=contact&id_user=[user.id]&json=1"
			,delay:0
			,minLength:0
			,select: function( event, ui ) {
				id_contact = ui.item.value.substr(0, ui.item.value.indexOf('.'));
				$('#form-link-contact input[name=id_contact]').val(id_contact);
			}
		});
		
		$( "#dialog-form" ).dialog( "open" );
		
	}

	 $( "#dialog-form" ).dialog({
		autoOpen: false,
		height: 150,
		width: 350,
		modal: true,
		draggable:false,
		resizable:false,
		buttons: {
			"linkThisContact": function() {
					if($('#form-link-contact input[name=id_contact]').val()>0) {
						$('#form-link-contact').submit();
						$( this ).dialog( "close" );
						
					}
					else {
						
						errorMsg("__tr(Not able to recognize the Contact)__");
						
					}
						
				
				
			}
			,Cancel: function() {
				$( this ).dialog( "close" );
			}
		}

		

	});
</script>

[tpl.footer;htmlconv=no]