[tpl.header;strconv=no]
[tpl.menu;strconv=no]

<div class="content">
	
	[tpl.tabs;strconv=no]

	<form name="formTPrinter" action="[tpl.self]" method="post">
		<input type="hidden" name="action" value="addModel" />
		<input type="hidden" name="success" value="__tr(The model has been added)__" />
		<input type="hidden" name="id" value="[printer.id_object]" />
		<input type="hidden" name="object" value="[printer.className]" />
		
		<table class="grille">
			<tr>
				<td>__tr(Models)__</td><td>[printer.model;strconv=no]</td><td>[printer.printButton;strconv=no]</td>
			</tr>
			<tr>
				<td>__tr(loadModel)__</td><td>[printer.loadModel;strconv=no]</td><td>[printer.addButton;strconv=no]</td>
			</tr>
			
		</table>
			
		<table class="grille">
			<tr>
				<td>[listOfDoc.file;strconv=no;block=tr]</td>
				<td>[listOfDoc.size;strconv=no]</td>
				<td><a href="#">Delete</a></td>
			</tr>
		</table>
		
	</form>

</div>

[tpl.footer;strconv=no]