[tpl.header;strconv=no]
[tpl.menu;strconv=no]

<div class="content">
	
	[tpl.tabs;strconv=no]

	<form name="formTProduct" action="[tpl.self]" method="post" enctype="multipart/form-data">
		<input type="hidden" name="action" value="save" />
		<input type="hidden" name="success" value="__tr(The product has been saved)__" />
		<input type="hidden" name="id" value="[product.id]" />
		
		<table class="grille">
			<tr>
				<td>__tr(Entity)__</td><td>[product.id_entity;strconv=no]</td>
			</tr>
			<tr>
				<td>__tr(Ref)__</td><td>[product.ref;strconv=no]</td>
			</tr>
			<tr>
				<td>__tr(Label)__</td><td>[product.label;strconv=no]</td>
			</tr>
			<tr>
				<td>__tr(Description)__</td><td>[product.description;strconv=no]</td>
			</tr>
			<tr>
				<td>__tr(PriceHT)__</td><td>[product.price_ht;strconv=no;frm=0,00€]</td>
			</tr>
			<tr>
				<td>__tr(VATRate)__</td><td>[product.vat_rate;strconv=no;frm=0,00%]</td>
			</tr>
			<tr>
				<td>__tr(isService)__</td><td>[product.isService;strconv=no]</td>
			</tr>
		</table>
		
		<div class="buttons">	
			<a href="[button.href;block=a]" id="button-action-[button.$]" class="[button.class]">[button.label]</a>
		</div>
	</form>

</div>
[tpl.hook;strconv=no]
[tpl.footer;strconv=no]