/*
 *	CSS du modèle par défaut ATOM 
 */

@font-face {
    font-family: "averia";
    src: url('ArchitectsDaughter.ttf');
}
html{
	min-height:100%;
	position:relative;
}
body {
	padding:0 0 0 0;
	margin:0 0 0 0;
	font-family: arial;
	font-size: 14px;
	background: url("../images/background.jpg") no-repeat fixed center center / cover transparent;
	color: #464646;
}
a {
	color: #2AA8B9;
    font-weight: bold
}
a.logo {
	color: #000000;
	text-decoration: none;
	display:block;
	
}
a.logo {
	color: #000000;
	text-decoration: none;
	display:block;
	
}

div.boxe a {
	font-weight:normal;
}

div.header {
	/*background-color: rgba(255, 255, 255, 0.8);*/
	text-align:left;
	margin: 0px 0px 10px 0;
	/*border-bottom: 1px solid #464646;*/
	height:65px;
	overflow: visible;
}
div.header h1 {
	float:left;
	margin: 0px;
	padding: 10px;
	overflow:hidden;
	height:70px;
	width:150px;
	display:block;
	top:-10px;
	position:relative;
}

div.menu {
	float: left;
	padding: 20px 0px;
}

div.menu ul {
	padding: 0px;
	margin: 0px
}

div.menu li {
	list-style: none;
	display: inline;
	padding: 0 5px;
}
div.menu li img {
	vertical-align: middle;
	
	margin-right: 5px;
}

div.menu li a {
	text-decoration: none;
	/*font-family: "averia";*/
	font-size: 18px;
	font-weight: bold;
	padding: 25px 10px;
	background-color: #D4D4D4;
	color:#525252;
}

div.menu li a:hover {
	background-color:#31b5c5;
	color:#fff;
}
div.tabs {
	float: left;
	padding: 10px 0px 0 0px;
	border-bottom:1px solid #2AA8B9;
	width:100%;
	margin:0 0 5px 0;
	overflow: visible;
	z-index:1;
}

div.tabs ul {
	padding: 0px;
	margin: 0px;
	position:relative;
	z-index:998;
	font-weight: normal;
}

div.tabs li {
	list-style: none;
	display: inline-block;
	padding: 5px 5px 3px 5px;
	margin: 0 5px 0 0;
	position:relative;
	background: inherit;
}

div.tabs li.active, div.tabs li:hover {
	border-top: 1px solid #2AA8B9;
	border-left: 1px solid #2AA8B9;
	border-right: 1px solid #2AA8B9;
	border-bottom: 1px solid #fff;
	
	top:1px;
	
}

input, input.flat, textarea, textarea.flat, form.flat select, select.flat {
   	color: #464646;
   	font-family: "ProximaNova","Lucida Sans","Lucida Grande",sans-serif;
   	
	background: #FDFDFD;
    border: 2px solid #525252;
    padding: 1px 1px 1px 1px;
    margin: 0px 0px 0px 0px;
}
input, textarea, select {
	padding:2px;
	margin-left:1px;
	margin-bottom:1px;
	margin-top:1px;
}
input.text_readonly {
	background: #525252;
	color:#fff;
}
select.flat, form.flat select {
	font-weight: normal;
}


.button {
   	color: #2AA8B9;
   	font-family: "ProximaNova","Lucida Sans","Lucida Grande",sans-serif;
   	border: 1px solid #3CC3D2;
    padding:5px 10px;
    margin: 0em 0.5em;

    -moz-box-shadow: 2px 2px 3px #2AA8B9;
    -webkit-box-shadow: 2px 2px 3px #2AA8B9;
    box-shadow: 2px 2px 3px #2AA8B9;
    cursor:pointer;
}
.button:focus  {
    color: #222244;
	
}
.button:hover   {
	background: #2AA8B9;
	color:#fff;
}
.button:disabled {
	background: #ddd;
}
div.content div.buttons {
	text-align:right;
	clear:both;
}
div.content table.grille {
	border-collapse: collapse;
	border: 1px solid #464646;
	width:100%;
	margin-bottom:3px;
	background-color: white;
	box-shadow: 1px 1px 1px #999999; 
}
div.content table.grille img {
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.28), 0 1px 0 rgba(255, 255, 255, 0.28) inset;
}
div.content table.grille td {
	border: 1px solid #CCCCCC;
	padding:5px;
}
div.content table.grille tr.edit td {
	background-color:#31b5c5;
	color:#fff;
}
div.content table.grille tr.edit td a {
	color:#fff;
}
div.content table.grille td:first-child {
	width:20%;
	font-weight: bold;
}
div.content  a.butAction,div.content  input.butAction,div.content  span.butAction,div.content  span.butActionDelete, div.content  a.butActionDelete, div.content  a.butActionRefused {
    background-color: #D4D4D4;
    /*box-shadow: 0 1px 0 rgba(0, 0, 0, 0.28), 0 1px 0 rgba(255, 255, 255, 0.28) inset;*/
    /*color: #FFFFFF;*/
    color:#525252;
    font-size: 1em;
    font-weight: bold;
   /* height: 52px;*/
    letter-spacing: 1px;
    line-height: 52px;
    /*text-shadow: 0 1px 0 rgba(0, 0, 0, 0.48);*/
    width: 155px;

   /* background-clip: padding-box;
    border-radius: 4px 4px 4px 4px;*/
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    line-height: 30px;
    position: relative;
    text-align: center;
    width: 240px;
    /*float:left;*/
    
    margin: 20px 20px 20px 20px;
    text-decoration: none;
    padding:10px 0;
    
    border:0 none;
}


div.content  a.butAction:hover,div.content  span.butAction:hover, div#boxes a.butAction:hover ,div.content  input.butAction:hover {
	background-color:#31b5c5;
	color:#fff;
}

div.content  a.butActionSmall,div.content  span.butActionSmall,div.content  span.butActionSmallDelete, div.content  a.butActionSmallDelete, div.content  a.butActionSmallRefused {
    background-color: #37BFCD;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.28), 0 1px 0 rgba(255, 255, 255, 0.28) inset;
    color: #FFFFFF;
    font-weight: 700;
    height: 15px;
    letter-spacing: 1px;
    line-height: 52px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.48);
    width: 155px;

    background-clip: padding-box;
    border-radius: 4px 4px 4px 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    height: 15px;
    line-height: 15px;
    position: relative;
    text-align: center;
    width: 190px;
    /*float:left;*/
    font-family: "ProximaNova","Lucida Sans","Lucida Grande",sans-serif;
    margin: 5px 5px 5px 5px;
    text-decoration: none;
    padding:10px 0;
}


div.content  a.butActionSmall:hover,div.content  span.butActionSmall:hover {
	background-color:#31b5c5;
}


div.content  span.butActionDelete , div.content  a.butActionDelete{
	background-color: #cc7777;
}
div.content  a.butActionRefused {
	background-color: #cc9999;
}
div.content  span.butActionDelete:hover, div.content  a.butActionDelete:hover,div.content  a.butActionRefused:hover {
	background-color: #662222;
}
div.content  {
	background-color: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 0.9);
	padding: 3px 10px 10px 3px;
}

#page-login {
	margin:20px 0;
}
#page-login label {
	display:inline-block;
	width:200px;
}
table.liste {
	border-collapse: collapse;
	background: #fff;
	border: 1px solid #E8E8E8;
    box-shadow: 2px 2px 2px #999999;
}	
table.liste a {
	text-decoration: none;
}
table.liste tr td {
	height: 30px;
	vertical-align: top;
	padding:5px;
}
table.liste tr.liste_titre {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #2AA8B9;
}
table.liste tr.liste_titre th {
	border-bottom: 1px solid #2AA8B9;	
}
table.liste tr.barre-recherche {
	background-color: #2AA8B9;
}
table.liste tr.barre-recherche a {
	color:#fff;	
}
table.liste tr.impair td {
    background: #F2F2F2;
    border: 0 none;
    color: #202020;
    font-family: arial,tahoma,verdana,helvetica;
    margin-bottom: 1px;
}
table.liste tr.pair td {
    background: #fff;
    border: 0 none;
    color: #202020;
    font-family: arial,tahoma,verdana,helvetica;
    margin-bottom: 1px;
}
table.liste tr.impair td:first-child,table.liste tr.pair td:first-child {
	padding-left:10px;	
}
table.liste tr.impair:hover td, table.liste tr.pair:hover td {
 	background-color: #c5e3e7;	
}

div#boxes {
	clear:both;
	-moz-column-count:3; /* Firefox */
	-webkit-column-count:3; /* Safari and Chrome */
	column-count:3;
	
	
}
div#boxes  .boxe-highlight {
	background-color: #ffffaa;
	
	border: 3px solid #ffff00;
    
    /*border-radius: 10px;*/
    
    /*float:left;*/
   /* width:400px;*/
    height : 100px;
    overflow: hidden;
    margin:0 10px 20px 10px;
    display:block;
    position:relative;
}
div#boxes  div.boxe  {
	background-color: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 0.8);
	padding: 10px 10px 10px 10px;
	
	border: 1px solid #E8E8E8;
    /*box-shadow: 2px 2px 2px #999999;*/
    
    /*border-radius: 10px;*/
    
    display:inline-block;
    
   /* page-break-inside: avoid;*/
	width:90%;
    
/*    width:400px;
    height : 400px;*/
    overflow: hidden;
    margin:0 10px 20px 10px;
    
    position:relative;
}

div#boxes div.boxe div.buttons {
	position:absolute;
	bottom:10px;
	right:-10px;
}


div#boxes div.boxe a {
	font-weight:normal;
}
div#boxes div.boxe table.liste tr.impair td:first-child,div#boxes div.boxe table.liste tr.pair td:first-child {
	padding-left:5px !important;
}
div#boxes div.boxe table.liste th.liste_titre {
	font-weight:normal;
}
div#boxes div.boxe table.liste tr td {
	height:auto;
}

div#boxes a.butAction {
	background-color: #D4D4D4;
    color:#525252;
    font-size: 1em;
    font-weight: bold;
    height: 52px;
    letter-spacing: 1px;
    line-height: 52px;

    width: 100px;

    background-clip: padding-box;
    cursor: pointer;
    display: inline-block;
    height: 15px;
    line-height: 15px;
    position: relative;
    text-align: center;
    width: 160px;
    
    margin: 20px 20px 0px 0px;
    text-decoration: none;
    padding:10px 0;
}

div#boxes  div.boxe h2 {
	font-size:14px;
	margin:0 0 0 0;
	cursor: pointer;
}
/*
 * Admin menu
 */
div.profile {
	position:relative;
	overflow: visible;
	float: right;
	
	padding: 15px 10px 15px 20px;
	/*font-family: "averia";*/
	background-color: rgba(255, 255, 255, 0.8);
	background-color: rgb(255, 255, 255, 0.8);
	
}

div.profile ul {
	display:none;
	position:absolute;
	top:0px;
	right:0;
	margin:0 0 0 0;
	padding:0 0 0 0;
	width:400px;
	z-index:999;
	background: #0b0909;
	height:auto;
	
}
div.profile ul li {
	background: #0b0909;
	border-bottom:3px solid #151515;
	padding:20px 10px;
	display:block;	
	list-style: none;
	text-decoration: none;
}
div.profile ul li a {
	text-decoration: none;
	font-size: 14px;	
	color:#fff;
}
div.profile ul li:hover {
	background:#2AA8B9;
}
div.profile ul li:hover a {
	color:#fff;
}

div.profile:hover {
	background: #2AA8B9;
	color:#fff;
}
div.profile:hover ul {
	display:block;	
}
div.profile img {
	height:40px;
	vertical-align: middle;
}
/*
 * Menu left
 * 
 */
div.menu-left {
	position:relative;
	overflow: visible;
	float: left;	
	overflow:visible;
}

div.menu-left ul {
	display:none;
	position:absolute;
	top:0px;
	left:0;
	margin:0 0 0 0;
	padding:0 0 0 0;
	width:400px;
	z-index:999;
	background: #0b0909;
	height:auto;
	
}
div.menu-left ul li {
	background: #0b0909;
	border-bottom:3px solid #151515;
	padding:20px 10px;
	display:block;	
	list-style: none;
	text-decoration: none;
}
div.menu-left  ul li a {
	text-decoration: none;
	font-size: 14px;	
	color:#fff;
}
div.menu-left  ul li:hover {
	background:#2AA8B9;
}
div.menu-left  ul li:hover a {
	color:#fff;
}

div.menu-left:hover {
	background: #2AA8B9;
	color:#fff;
}
div.menu-left:hover ul {
	display:block;	
}
div.menu-left ul img {
	height:40px;
	vertical-align: middle;
}

#userGroupDrag, #scrum {
	width:100%;
	border-spacing: 10px;
}
td.userDrag, td.projectDrag {
	vertical-align: top;
	background: #fff;
	border:1px solid #2AA8B9;
	width:50%;
	padding:10px 20px;
	
}
td.projectDrag {
	width:25%;
	min-width: 200px;	
	padding:1px 1px 1px 1px;
}
.userDrag ul,.projectDrag ul {
	margin:0 0 0 0;
	padding:0 0 0 0;
	min-height: 500px;
}
.userDrag ul li:hover, .projectDrag ul li:hover {
	cursor: pointer;	
}
.projectDrag ul li {
	display:block;
	background: #2AA8B9;
	color:#fff;
	font-size:14px;
	padding:10px 20px 10px 40px;
	overflow: hidden;
	position:relative;
	box-shadow: 1px 1px 1px #999999;
	border:1px solid #2AA8B9;
	border-bottom: 1px solid #194B7E;
}
.projectDrag ul li.idea {
	background: #eee;
}
.projectDrag ul li.idea a {
	color:#000;	
}
.projectDrag ul li.inprogress {
	background: green;
}
.projectDrag ul .ui-state-highlight {
	background: #fff;
	height:30px;
	border:1px solid yellow;
}

.projectDrag ul li div.view {
	display: none;
}
.projectDrag ul li a.save {
	font-weight: normal;
	color:#fff;
	text-decoration: none;
	background: blue;
	border-radius: 5px;
	padding:3px;
}
.projectDrag ul li.finish {
	background: grey;
}

.projectDrag ul li a {
	color:#fff;
}
.userDrag ul li {
	display:inline-block;
	width:100px;
	background: #2AA8B9;
	color:#fff;
	font-size:14px;
	padding:5px 5px 5px 5px;
	overflow: hidden;
	position:relative;
	box-shadow: 1px 1px 1px #999999;
	border:1px solid #2AA8B9;
	text-align:center;
}
.userDrag ul li.userDragOut {
	background: #333;
	overflow: hidden;
}

.userDrag ul li img {
	position:relative;
	top:0;
	left:0;
	max-height: 90px;
}

